.jumbotron {
  height: 350px;
  width: 100%;
  margin-top: 100px;
}
.jumbotron .jumbo-wrapper {
  display: flex;
  width: 80%;
  margin: 0 auto;
  height: 100%;
}
.jumbotron .jumbo-wrapper .jumbo-left {
  color: #7F14D4;
  width: 50%;
  height: 100%;
  line-height: 45px;
}
.jumbotron .jumbo-wrapper .jumbo-left button {
  margin-top: 20px;
  display: inline-flex;
  background-color: #304890;
  color: white;
  padding: 8px;
  border-radius: 5px;
}
.jumbotron .jumbo-wrapper .jumbo-left button img {
  height: 15px;
  margin-right: 5px;
}
.jumbotron .jumbo-wrapper .jumbo-right {
  width: 50%;
  height: 100%;
}
.jumbotron .jumbo-wrapper .jumbo-right img {
  height: 100%;
}

.main-up {
  width: 100%;
  background-color: #0414B3;
}
.main-up .main-wrapper {
  text-align: center;
  padding: 40px;
  display: flex;
  width: 80%;
  margin: 0 auto;
  flex-direction: column;
  color: #7F14D4;
}
.main-up .main-wrapper .main-title {
  width: 100%;
  text-align: center;
  border-bottom: 20px;
}
.main-up .main-wrapper .main-row {
  display: flex;
  justify-content: space-between;
  height: 200px;
  width: 100%;
  color: #7F14D4;
}
.main-up .main-wrapper .img-box {
  width: 30%;
}
.main-up .main-wrapper .img-box img {
  height: 70%;
  margin: 20px 0;
}
.main-up .main-wrapper .second-row {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 300px;
  margin: 50px 0;
  padding-bottom: 50px;
}
.main-up .main-wrapper .border-brown {
  border-bottom: 1px solid #7F14D4;
}

.main-down {
  width: 100%;
  color: #7F14D4;
}
.main-down .down-row-one {
  display: flex;
  width: 100%;
  height: 500px;
  margin-bottom: 120px;
}
.main-down .down-row-one .box-1 {
  height: 100%;
  width: 50%;
}
.main-down .down-row-one .box-1 img {
  width: 100%;
}
.main-down .down-row-one .box-2 {
  width: 30%;
  margin-left: 20px;
  line-height: 200%;
}
.main-down .down-row-one .box-2 img {
  width: 100%;
}
.main-down .down-row-one .box-2 h2,
.main-down .down-row-one .box-2 p {
  margin: 20px 0;
}
.main-down .down-row-two {
  justify-content: flex-end;
  display: flex;
  width: 100%;
  height: 500px;
  margin-bottom: 120px;
}
.main-down .down-row-two .box-3 {
  width: 30%;
  margin-left: 20px;
  line-height: 200%;
  margin-right: 20px;
}
.main-down .down-row-two .box-3 img {
  width: 100%;
}
.main-down .down-row-two .box-3 h2,
.main-down .down-row-two .box-3 p {
  margin: 20px 0;
}
.main-down .down-row-two .box-4 {
  height: 100%;
  width: 50%;
}
.main-down .down-row-two .box-4 img {
  width: 100%;
}

.founders {
  text-align: center;
  padding: 40px;
  background-color: #0414B3;
  color: #7F14D4;
}
.founders .founders-title {
  margin: 30px;
}
.founders .founders-title h1 {
  margin: 20px;
}
.founders .founders-card {
  text-align: left;
  width: 80%;
  margin: 0 auto;
  padding: 30px;
  line-height: 200%;
  background-color: white;
  border-radius: 5px;
  border: 1px solid blue;
}
.founders .founders-card h1 {
  padding: 20px;
}
.founders .founders-card p {
  margin-bottom: 15px;
}
.founders .founders-card .founders-img {
  display: flex;
  align-items: center;
}
.founders .founders-card .founders-img img {
  margin-right: 20px;
}
.founders .founders-card .founders-img .founders-name {
  display: flex;
  flex-direction: column;
}
.founders .founders-card .founders-img #names {
  color: blue;
}
.founders .founders-btn {
  width: 100%;
}
.founders .founders-btn button {
  margin-top: 20px;
  display: inline-flex;
  background-color: #304890;
  color: white;
  padding: 8px;
  border-radius: 5px;
}
.founders .founders-btn button img {
  height: 15px;
  margin-right: 5px;
}
.founders .founders-btn h3 {
  margin-top: 20px;
}

nav.navbar {
  display: flex;
  border-bottom: 1px solid #411111;
}

.nav-wrapper {
  display: flex;
  width: 80%;
  margin: 0 auto;
  height: 80px;
  line-height: 80px;
  color: #7F14D4;
}
.nav-wrapper .nav-left {
  display: flex;
  align-items: center;
  height: 100%;
  width: 20%;
  font-size: 20px;
}
.nav-wrapper .nav-left img {
  margin-right: 8px;
}
.nav-wrapper .nav-right {
  display: flex;
  justify-content: flex-end;
  height: 100%;
  width: 80%;
}
.nav-wrapper .nav-right ul {
  display: flex;
  align-items: center;
}
.nav-wrapper .nav-right ul li {
  margin-right: 20px;
  list-style: none;
}
.nav-wrapper .nav-right ul li a {
  text-decoration: none;
}
.nav-wrapper .nav-right ul button {
  display: inline-flex;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #0b0b6f;
  color: #0b0b6f;
  background-color: white;
}
.nav-wrapper .nav-right ul button img {
  margin-right: 3px;
  height: 15px;
}

.footer-wrapper {
  display: flex;
  width: 80%;
  margin: 0 auto;
  color: #7F14D4;
  margin-top: 50px;
  height: 500px;
}
.footer-wrapper .footer-left {
  display: flex;
  padding: 20px;
  width: 30%;
}
.footer-wrapper .footer-left img {
  width: 50px;
  margin-right: 10px;
}
.footer-wrapper .footer-left p {
  font-weight: bold;
}
.footer-wrapper .footer-left a {
  text-decoration: none;
}
.footer-wrapper .footer-right {
  display: flex;
  justify-content: space-around;
  width: 70%;
}
.footer-wrapper .footer-right .col ul li {
  list-style: none;
  font-weight: bold;
  margin-top: 20px;
}
.footer-wrapper .footer-right .col h2 {
  margin-bottom: 30px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  font-family: "Roboto", sans-serif;
}
