$brand_primary: #0414B3;
$font_primary: #7F14D4;
$font_family: 'Roboto', sans-serif;


// MIXINS

@mixin my-wrapper {
    display: flex;
    width: 80%;
    margin: 0 auto;
}

@mixin my-btn {
    background-color: #304890;
    color: white;
    padding: 8px;
    border-radius: 5px;
}

@mixin my-row {
    display: flex;
    width: 100%;
    height: 500px;
    margin-bottom: 120px;
}

@mixin box-img {
    height: 100%;
    width: 50%;
        img {
            width: 100%;
        }
}

@mixin box-text {
    width: 30%;
    margin-left: 20px;
    line-height: 200%;
        img {
            width: 100%;
        }
        h2,
        p {
            margin: 20px 0;
        }
}