@import 'partials/_variables';
@import 'partials/content';
@import 'partials/_header';
@import 'partials/footer';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    width: 100%;
    font-family: $font_family;
}
